{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="{% static 'css/bouquets_styles.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">#}

    {% block link_css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цветочный бульвар</title>
    <meta name="description" content="Розничная продажа цветов в новосибирске!
          Профессиональная флористика, демократичные цены, букеты и композиции любой сложности">
    <meta name="keywords" content="Цветы, флористика, цветы новосибирск, флористика новосибирск">
    <link href="{% static 'img/emblem.png' %}" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    {#    <script>#}
    {#        $(document).scroll(function () {#}
    {#            if ($(document).width() > 785) {#}
    {#            }#}
    {#            if ($(document).scrollTop() > $('header').height() + 10)#}
    {#                $('nav').addClass('fixed');#}
    {#            else#}
    {#                $('nav').removeClass('fixed');#}
    {#            let s = window.pageYOffset;#}
    {#            const content = document.getElementById('content');#}
    {#            s /= 2;#}
    {#s -= 100;#}
    {#            content.style.backgroundPositionY = s +'px';#}
    {#        })#}
    {#    </script>#}
</head>
<body>
<div id="wrapper">
    <header>
        {#        <div id="logo">#}
        {#            <a href="{% url 'home_url' %}">#}
        {#                    <img src="{% static 'img/emblem.png' %}" title="Flowers5430.com" alt="Flowers5430">#}
        {#                <span>Цветочный бульвар</span>#}
        {#            </a>#}
        {#        </div>#}
        {#        <div id="nav_menu">#}
        {#            <a href="" title="О наших букетах">Букеты</a>#}
        {#            <a href="" title="Где мы находимся">О нас</a>#}
        {#            <a href="" title="Демонстрация наших букетов">Букеты</a>#}
        {#            <a href="" title="Написать нам">Обратная связь</a>#}
        {#        </div>#}
        {#        <div id="social">#}
        {#            <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>#}
        {#            <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>#}
        {#        </div>#}
        <div class="nav castom_container">
            <div class="flex-container">
                <div class="flex_2">
                    <a id="main_name" href="{% url 'home_url' %}">
                        <h1>Цветочный бульвар</h1>
                        Профессиональная флористика
                    </a>
                </div>
                <div class="nav_block flex-container flex_1">
                    <div class="flex_1">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>

                    <div class="flex_5">
                        <div>
                            <h3>Адрес</h3>
                            <p>Восход 13 там где-то</p>
                        </div>
                    </div>
                </div>
                <div class="nav_block flex-container flex_1">
                    <div class="flex_1">
                        <i class="fas fa-phone-alt"></i>
                    </div>

                    <div class="flex_5">
                        <div>
                            <h3>Телефон</h3>
                            <a href="tel:+79059510694">+7 (905) 951-06-94</a>
                        </div>
                    </div>
                </div>
                <div class="flex-container flex_1">
                    <a class="feedback_button" href="https://google.com">
                        Обратный звонок
                    </a>
                </div>
            </div>
            <hr>
            <div class="flex-container">
                <div class="nav_menu">
                    <a href="{% url 'home_url' %}">Главная</a>
                    <div class="dropdown">
                        <a href="#" title="">
                            Продукты
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <div class="dropdown_content">
                            <a href="{% url 'bouquets_url' %}">Букеты</a>
                            <a href="#2">Букеты&nbspневесты</a>
                            <a href="#3">Композиции</a>
                        </div>
                    </div>
                    <a href="" title="">Контакты</a>
                    <a href="{% url 'slider_url' %}" title="">Слайдер</a>

                </div>
                {#                <div id="social">#}
                {#                    <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>#}
                {#                    <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>#}
                {#                </div>#}
            </div>


        </div>
    </header>

    {#    <div id="content" style="background-image: url({% static 'img/IMG_2684.png' %})">#}
    {#    </div>#}


    {% block main_content %}
    {% endblock %}

</div>

<footer>
    <div id="site_name">
        <span>Цветочный бульвар</span>
    </div>

    <div id="clear"></div>
    <div id="footer_menu">
        <a href="" title="Демонстрация наших букетов">Букеты</a>
        <a href="" title="Написать нам">Обратная связь</a>
    </div>
    <div id="rights">
        <a href="">Все права защищены &copy; Тут будет год</a>
    </div>
    <div id="social">
        <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>
        <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
<script src="https://kit.fontawesome.com/32b04edffc.js" crossorigin="anonymous"></script>

</body>
</html>
