{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="{% static 'css/bouquets_styles.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/slider_style.css' %}">
    {% block link_css %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цветочный бульвар</title>
    <meta name="description" content="Розничная продажа цветов в новосибирске!
          Профессиональная флористика, демократичные цены, букеты и композиции любой сложности">
    <meta name="keywords" content="Цветы, флористика, цветы новосибирск, флористика новосибирск">
    <link href="{% static 'img/emblem.png' %}" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    {#    <script>#}
    {#        $(document).scroll(function () {#}
    {#            if ($(document).width() > 785) {#}
    {#            }#}
    {#            if ($(document).scrollTop() > $('header').height() + 10)#}
    {#                $('nav').addClass('fixed');#}
    {#            else#}
    {#                $('nav').removeClass('fixed');#}
    {#            let s = window.pageYOffset;#}
    {#            const content = document.getElementById('content');#}
    {#            s /= 2;#}
    {#s -= 100;#}
    {#            content.style.backgroundPositionY = s +'px';#}
    {#        })#}
    {#    </script>#}
    {#    <script type="text/javascript" charset="utf-8" async#}
    {#            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A677ecee61836aa8406fad2753adc4ca25788a05a28b1115cb8e131e5ddfe948e&amp;width=100%25&amp;height=330&amp;lang=ru_RU&amp;scroll=true"></script>#}

</head>
<body>
<div id="wrapper">
    <header>
        {#        <div id="logo">#}
        {#            <a href="{% url 'home_url' %}">#}
        {#                    <img src="{% static 'img/emblem.png' %}" title="Flowers5430.com" alt="Flowers5430">#}
        {#                <span>Цветочный бульвар</span>#}
        {#            </a>#}
        {#        </div>#}
        {#        <div id="nav_menu">#}
        {#            <a href="" title="О наших букетах">Букеты</a>#}
        {#            <a href="" title="Где мы находимся">О нас</a>#}
        {#            <a href="" title="Демонстрация наших букетов">Букеты</a>#}
        {#            <a href="" title="Написать нам">Обратная связь</a>#}
        {#        </div>#}
        {#        <div id="social">#}
        {#            <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>#}
        {#            <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>#}
        {#        </div>#}
        <div class=" castom_container">
            <div class="flex-container">
                <div class="flex_2">
                    <a id="main_name" href="{% url 'home_url' %}">
                        <h1>Цветочный бульвар</h1>
                        Профессиональная флористика
                    </a>
                </div>
                <div class="nav_block flex-container flex_1">
                    <div class="flex_1">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>

                    <div class="flex_5">
                        <div>
                            <h3>Адрес</h3>
                            <p>Восход 13 там где-то</p>
                        </div>
                    </div>
                </div>
                <div class="nav_block flex-container flex_1">
                    <div class="flex_1">
                        <i class="fas fa-phone-alt"></i>
                    </div>

                    <div class="flex_5">
                        <div>
                            <h3>Телефон</h3>
                            <a href="tel:+79059510694">+7 (905) 951-06-94</a>
                        </div>
                    </div>
                </div>
                <div class="flex-container flex_1">
                    <a class="feedback_button" href="https://google.com">
                        Обратный звонок
                    </a>
                </div>
            </div>
            <hr>
            <div class="nav">
                <div class="nav_menu">
                    <a href="{% url 'home_url' %}">Главная</a>
                    <div class="dropdown">
                        <a href="#" title="">
                            Продукты
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <div class="dropdown_content">
                            <a href="{% url 'bouquets_url' %}">Букеты</a>
                            <a href="{% url 'bouquets_nevest_url' %}">Букеты&nbspневесты</a>
                            <a href="{% url 'compositions_url' %}">Композиции</a>
                        </div>
                    </div>
                    <a href="" title="">Контакты</a>
                    <a href="{% url 'slider_url' %}" title="">Слайдер</a>

                </div>
                <div id="social">
                    <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>
                    <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>


        </div>
    </header>

    {#    <div id="content" style="background-image: url({% static 'img/IMG_2684.png' %})">#}
    {#    </div>#}


    {% block main_content %}
    {% endblock %}
{#    <div class="castom_container">#}
{#        <div id="map" style="width: 100%; height: 400px"></div>#}
{#    </div>#}
{#    <div class="castom_container">#}
{#        <div id="mapGis" style="width: 100%; height: 400px; margin-top: 50px"></div>#}
{#    </div>#}
    <div class="castom_container" style=" margin-top: 50px">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A113b8c236b82180d7b9cfda28474709a4d55b15b804bb8534da65902caa2fcee&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="castom_container" style="margin-top: 50px">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A01a2d6b56ceebbfa015df017864909f15c698f6fcda93b777969ffa041f47648&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

<footer>
    <div class="castom_container flex-container">
        <div id="name_footer flex_1">
            <a id="main_name" href="{% url 'home_url' %}">
                <h1>Цветочный бульвар</h1>
                Профессиональная флористика
            </a>

        </div>
        <div id="rights">
            <a href=""><small>Все права защищены &copy; Тут будет год</small></a>
        </div>
        <div id="footer_menu" class="flex_1">
            <h4>Навигация</h4>
            <a href="{% url 'bouquets_url' %}">Букеты</a>
            <a href="{% url 'bouquets_nevest_url' %}">Букеты&nbspневесты</a>
            <a href="{% url 'compositions_url' %}">Композиции</a>
        </div>
        <div id="social" class="flex_1">
            <a href="" title="Группа ВК"><i class="fab fa-vk"></i></a>
            <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

</footer>
<script src="https://kit.fontawesome.com/32b04edffc.js" crossorigin="anonymous"></script>
<script src="{% static 'js/slider.js' %}"></script>
{#<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>#}
{#<script type="text/javascript">#}
{#    var map;#}
{##}
{#    DG.then(function () {#}
{#        map = DG.map('mapGis', {#}
{#            center: [55.015492, 82.942486],#}
{#            zoom: 16#}
{#        });#}
{#        DG.marker([55.016246, 82.946087])#}
{#            .addTo(map)#}
{#            .bindLabel('Цветочный больвар', {#}
{#                offset: DG.point(-90, 5)#}
{#            });#}
{##}
{#    });#}
{#</script>#}
{#ANjcgV8BAAAAT_CqOgIASMUsScNiqcjch2GtKknys0_fwIsAAAAAAAAAAAB3lf8S4Y2OhIm8gztnBjX_d1-Bog==#}
{#<script#}
{#        src="https://api-maps.yandex.ru/2.1/?apikey=ANjcgV8BAAAAT_CqOgIASMUsScNiqcjch2GtKknys0_fwIsAAAAAAAAAAAB3lf8S4Y2OhIm8gztnBjX_d1-Bog==&load=Map&lang=ru_RU"#}
{#        type="text/javascript"></script>#}
{#<script type="text/javascript">#}
{#    ymaps.ready(function () {#}
{#        var map = new ymaps.Map("map", {#}
{#            center: [55.015492, 82.942486],#}
{#            zoom: 16#}
{#        });#}
{#    });#}
{#</script>#}
</body>
</html>
