{% extends 'main/base.html' %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/bouquets_styles.css' %}">
    <script src="{% static 'js/slider.js' %}" defer></script>
{% endblock %}
{% block main_content %}
    <div class="main_content">

        <div class="castom_container text_center">
            <h2>Букеты любой сложности</h2>
            <img src="{% static 'img/IMG_E4008.JPG' %}" alt="" class="left_img">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloribus facilis molestiae ut.
                Accusamus distinctio eaque enim ipsum maxime numquam perspiciatis quam, quasi qui, quod repudiandae
                velit, vitae voluptates?</p>
            <div class="">
                <i class="fas fa-check check"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odit qui repellendus temporibus ut
                    velit!</p>
            </div>
            <div class="">
                <i class="fas fa-check check"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odit qui repellendus temporibus ut
                    velit!</p>
            </div>
            <div class="">
                <i class="fas fa-check check"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odit qui repellendus temporibus ut
                    velit!</p>
            </div>
        </div>


        <div class="slider">
            <div class="polosa">
                <img src="{% static 'img/IMG_2348.JPG' %}" alt="">
                <img src="{% static 'img/IMG_2616.JPG' %}" alt="">
                <img src="{% static 'img/IMG_2759.JPG' %}" alt="">
                <img src="{% static 'img/IMG_E2810.JPG' %}" alt="">
                <img src="{% static 'img/IMG_E2799.JPG' %}" alt="">
            </div>
        </div>
        <button class="slider_left">left</button>
        <button class="slider_right">right</button>

    </div>

{% endblock %}