{% extends 'main/base.html' %}
{% load static %}


{% block main_content %}
    <div id="main_content">
        <div id="main_background">
            <div class="blackout flex-container">
                <div class="">
                    <h1 style="text-align: center">Большая красивая фраза</h1>
                    <p>описание большой красивой фразы маленькой, но тоже красивой фразой</p>
                </div>

            </div>
        </div>

        <div class="castom_container">
            <div class="all_card_main flex-container">
                <div class="card_main">

                </div>

                <div class="card_main">

                </div>
                <div class="card_main">

                </div>
            </div>
        </div>


    </div>
{% endblock %}