<hr>
<div id="feedback" class="castom_container">
    <h2>Остались вопросы?</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {#        {{ form.non_field_errors }}#}

        <div class="form_group form_row">

            {#            <div class="">#}
            <label for="id_name"></label>
            <input id="id_name" type="text" class="form_control" placeholder="Ваше имя:" name="name"
                   maxlength="50"
                   required>
            {#            </div>#}
            {#            <div class="">#}
            <label for="id_phone"></label>
            <input id="id_phone" type="tel" class="form_control" placeholder="Номер телефона:" name="phone"
                   maxlength="25" required>
            {#            </div>#}
        </div>
        <div class="form_group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form_control" id="exampleFormControlTextarea1" rows="3" name="body"
                      placeholder="Сообщение:"></textarea>
        </div>

        <div style="min-height: 7rem">

            <div class="form_group g-recaptcha" id="captcha_castom_style"
                 data-sitekey="6LdWUdYZAAAAAJoTNXZIrxZO4OxwYDLiAjdqNSmT"></div>
            <button type="submit" class="button btn_feedback">
                Заказать обратный звонок
            </button>
        </div>


        {% for field in form %}
            <div class="form_group">
                {% if field.errors %}
                    <div class="alert">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if messages %}
            <ul class="messages left">
                {% for message in messages %}
                    <div class="alert">
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>


{#<script type="text/javascript">#}
{#    var onloadCallback = function () {#}
{#        alert("grecaptcha is ready!");#}
{#    };#}
{#</script>#}