
.main_content img {
    max-width: 50%;
}

.slider {
    margin: 12rem auto 1rem auto;
    width: 500px;
    border: 5px solid black;
}
.polosa {
    background: #d7147a;
    width: 1250px;
    position: relative;
}
.polosa img{
    float: left;
    width: 250px;
}
.polosa::after {
    content: "";
    display: block;
    clear: both;
}